<footer class="bg-gray-900 text-white py-4">
    <!-- Top Section: Navigation Links -->
    <div class="flex flex-col items-center space-y-2">
      <a href="" class="text-gray-300 hover:text-white">Accueil</a>
      <a href="bike-rent" class="text-gray-300 hover:text-white">Location de vélo</a>
      <a href="conf-calendar" class="text-gray-300 hover:text-white">Conférences</a>
      <a href="frip-info" class="text-gray-300 hover:text-white">Frip'INSA</a>
      <a href="contact" class="text-gray-300 hover:text-white">Nous contacter</a>
    </div>
  
    <!-- Light gray line separator -->
    <div class="border-t border-gray-600 my-4"></div>
  
    <!-- Middle Section: Social Media Icons -->
    <div class="flex justify-center space-x-6">
      <a href="https://www.instagram.com/greensa_rennes" aria-label="Instagram" class="text-gray-300 hover:text-white">
        <!-- Instagram Icon -->
        <i class="fab fa-instagram fa-lg"></i> L'actu green'sa
      </a>
      <a href="tel:+123456789" aria-label="Telephone" class="text-gray-300 hover:text-white">
        <!-- Instagram Icon -->
        <i class="fas fa-phone fa-lg"></i> +123456789
      </a>
      <a href="mailto:info@example.com" aria-label="Mail" class="text-gray-300 hover:text-white">
        <!-- Instagram Icon -->
        <i class="fas fa-envelope fa-lg"></i> info-greensa&#64;example.com
      </a>
    </div>
  
    <!-- Light gray line separator -->
    <div class="border-t border-gray-600 my-4"></div>
  
    <!-- Bottom Section: Logo and Text -->
    <div class="flex justify-center items-center space-x-4">
      <img class="h-12 w-auto"
      src="assets/images/logodetour.webp" 
      alt="Logo green'sa">
      <p class="text-gray-400 text-sm text-center">
        Association étudiante écolo, un collectif jeune, engagé et prêt à bousculer les habitudes pour construire un avenir plus vert ! <br>
        Ici, on se bat pour une transition écologique concrète, accessible, et surtout, fun. Notre mission ? <br>
        Inspirer, sensibiliser et agir ensemble pour protéger l’environnement à notre échelle, tout en renforçant la solidarité entre étudiant·e·s !
        </p>
    </div>
  </footer>
  