<div class="flex justify-center items-center h-screen">
    <!-- Biker image -->
    <img src="assets/images/vegebasketdefault.png" alt="A vegetable basket" class="w-1/2 max-w-md object-cover rounded-lg shadow-lg">
  
    <!-- Bike location text box -->
    <app-text-card 
    class="ml-8" 
    title="Quand est-ce qu'on mange ?" 
    body="Nos paniers de fruits et légumes sont de saison, commande => mois / semaine"
    [showbutton]=true
    buttonText="En savoir plus"
    routePath="vege-basket-command">
    </app-text-card>
  </div>